.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("markus-winkler-IrRbSND5EUc-unsplash.jpg");
  background-size: cover;
  background-position: center;
  text-decoration-color: azure
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 450px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

button {
  width: 150px;
  height: 50px;
  background-color:darkgreen;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}


.header {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.FlashCard {
  width: 500px;
  height: 300px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.FlashCard button {
  background-color: #4285f4;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.FlashCard p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.FlashCard h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.FlashCard span {
  font-size: 1.2rem;
  color: gray;
}